* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-bar {
    width: 80%;
    height: 4rem;
    background-color: #eee;
    margin-bottom: 20px;
    display: flex;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;
}

.fa-solid {
    color: red;
    margin-right: 10px;
}

.header {
    width: 80%;
    background-color: black;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar p {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 7px 15px;
}

.navbar ul li a:hover {
    background-color: white;
    color: red;
    border-radius: 3px;
}

.navbar-b {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown {
    width: 130px;
    text-align: center;
    background-color: white;
    border-radius: 3px;
}

select {
    outline: none;
    border: none;
    background: none;
    padding: 7px 10px 7px 0px;
    color: red;
    font-size: 18px;
    cursor: pointer;
}

select:hover {
    color: #333;
}

.search {
    width: 500px;
    background-color: white;
    height: 45px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.search input {
    width: 440px;
    border: none;
    outline: none;
    height: 40px;
}

.cart {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
    font-size: 18px;
}

.cart p {
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: red;
    color: white;
    padding: 15px;
}

.container {
    width: 80%;
    display: flex;
    margin-bottom: 20px;
}

#root {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.sidebar {
    width: 50%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 20px;
    text-align: center;
}

.head {
    background-color: black;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.foot {
    display: flex;
    justify-content: space-between;
    margin: 20px opx;
    padding: 10px 0px;
    border-top: 1px solid #333;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
}

.img-box {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}

.bottom {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

h2 {
    font-size: 20px;
    color: red;
}

.bottom {
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: black;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: #333;
    color: #fff;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
}

.row-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowimg {
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}

.fa-trash:hover {
    cursor: pointer;
    color: #333;
}

button {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}